.main
{
    text-align: center;
    color: aliceblue;
    background-color: rgb(61, 61, 61);
    
}

.heading2
{
   color: darkgoldenrod;
}

.person-teams
{

    color: darkgoldenrod;
    background-color: rgba(51, 86, 86, 0.921);

}
  

.heading3
{
    color: black;
}


