.main
{
    text-align: center;
    color: aliceblue;
    background-color: rgb(61, 61, 61);
    
}

.heading2
{
   color: darkgoldenrod;
}

.person-teams
{

    color: darkgoldenrod;
    background-color: rgba(31, 63, 63, 0.921);
    
}
  

.heading3
{
    color: black;
}


.float
{
    float: left;
    width: 33.33%;
    
}

.clearfix
{
    clear: left;
    
}

.link
{
    color: darkgoldenrod;
}